/*
 * File Name: styles.css
 * Description: Contains css styles
 * Authors: Anthony Tseng, Brandon Tran, Darin Moore, Sandra Luo
 */
h1 {
	font-family: 'Finger Paint', cursive;;
 	font-size: 80px;
 	text-align: center;
}
 body {
 	font-family: 'Raleway', sans-serif;
 	font-size: 20px;
 	text-align: center;
 	background-color: lightblue;
 }
 h2 {

 }
 p{

 }


